<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="GoogleApi" version="4.1.0" targetFramework="net48" />
  <package id="GoogleDistanceMatrix" version="1.1.0" targetFramework="net48" />
  <package id="log4net" version="2.0.14" targetFramework="net48" />
  <package id="Microsoft.IdentityModel.Logging" version="1.1.2" targetFramework="net48" />
  <package id="Microsoft.IdentityModel.Tokens" version="5.1.2" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net48" />
  <package id="Portable.BouncyCastle" version="1.8.10" targetFramework="net48" />
  <package id="RestSharp" version="106.15.0" targetFramework="net48" />
  <package id="SimpleRestSharp" version="1.2.0" targetFramework="net48" />
  <package id="System.IdentityModel.Tokens.Jwt" version="5.1.2" targetFramework="net48" />
  <package id="Twilio" version="5.74.0" targetFramework="net48" />
</packages>